<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLDSV_TCConnectionString" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-ICKBRAQN\MSSQLSERVER02;integrated security=SSPI;initial catalog=QLDSV_TC" />
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString"
      connectionString="Data Source=LAPTOP-ICKBRAQN\SERVER1;Initial Catalog=QLDSV_TC;User ID=sa;Password=1"
      providerName="System.Data.SqlClient" />
    <add name="laptop-ickbraqn\mssqlserver02.QLDSV_TC.dbo" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-ICKBRAQN\MSSQLSERVER02;integrated security=SSPI;initial catalog=QLDSV_TC" />
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString1"
      connectionString="Data Source=LAPTOP-ICKBRAQN\SERVER1;Initial Catalog=QLDSV_TC;User ID=sa;Password=1"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString2"
      connectionString="Data Source=LAPTOP-ICKBRAQN\SERVER3;Initial Catalog=QLDSV_TC;User ID=sa;Password=1"
      providerName="System.Data.SqlClient" />
    <add name="laptop-ickbraqn\server1.QLDSV_TC.dbo1" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-ICKBRAQN\SERVER1;integrated security=SSPI;initial catalog=QLDSV_TC" />
    <add name="QLDSV_TCConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-ICKBRAQN\SERVER1;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>